<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzn8_V82L2aHjZycj12ULKEtQXxd3QhxY</string>
	<key>GCM_SENDER_ID</key>
	<string>185404211412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lottbros.DineUMD</string>
	<key>PROJECT_ID</key>
	<string>dineumd</string>
	<key>STORAGE_BUCKET</key>
	<string>dineumd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185404211412:ios:707c9195c5a0a4cad2fb41</string>
</dict>
</plist>